{%  extends 'base.html' %}

    <title>{% block title %}Raptors Roar|About Us{% endblock %}</title>
    
    {% block content %}
   <center><p1>Welcome to Raptors Roar!Come and get to know us a little more</p1></center>
   
   <div class="about-section">
    <h1>About Us</h1>
    <div class="about-section">
      <p> Roar, a dedicated destination for passionate Toronto Raptors fans, offers comprehensive news, analysis, gaming highlights, and exclusive interviews. Fueled by a team of avid Raptors enthusiasts, we aim to create a vibrant community where fans can connect, discuss games, and celebrate victories. Join us in supporting the Toronto Raptors on their quest for NBA greatness. We appreciate your loyalty. We The North!</p>
    </div> 
    
    <div class="d-flex align-items-center justify-content-center">
      <div class="column ">
        <div class="card ">
          <div class="container ">
           <h2>Gustavo Badim</h2>
            <p class="title">CEO</p>
            <p>Creator of Raptors Roar</p>
            <p>gustavo.badim@outlook.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      </div>
  </div>
         {% endblock %}
